<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Missões</title>

    <link rel="stylesheet" th:href="@{/css/missoes.css}">
</head>
<body>

<div class="container">

    <div class="topo">
        <h1>Missões</h1>

        <a th:href="@{/missoes/ui/adicionar}" class="btn-add">
            + Nova Missão
        </a>
    </div>

    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Dificuldade</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="missao : ${missoes}">

            <td th:text="${missao.id}"></td>

            <td th:text="${missao.nome}"></td>

            <td th:text="${missao.dificuldade}"></td>


            <td class="acoes">

                <a th:href="@{/missoes/ui/alterar/{id}(id=${missao.id})}"
                   class="btn-editar">
                    Editar
                </a>

                <a th:href="@{/missoes/ui/listar/{id}(id=${missao.id})}"
                   class="btn-detalhes">
                    Detalhes
                </a>

                <a th:href="@{/missoes/ui/deletar/{id}(id=${missao.id})}"
                   class="btn-deletar">
                    Deletar
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>